:root {
  --violet-primary: #647dee;
  --gradient: linear-gradient(90deg, #647dee, #7f53ac);
}

.a {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  /* padding: 0 10%; */
}

.a-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.blob {
  background: url("../../img/jo.png");
  background-size: cover;
  background-position: center center;
  height: 450px;
  width: 450px;
}

.a-right {
  flex: 1;
  /* padding-right: 5%; */
}

.a-right__content {
  width: 80%;
}

.a-title {
  font-weight: 200;
}

.a-sub {
  margin: 20px 0px;
  font-size: 1.3rem;
}

.a-desc {
  font-weight: 300;
  font-size: 1rem;
}

.a-cv {
  margin-top: 50px;
}

.a-cv-item {
  border: none;
  padding: 15px;
  background: var(--violet-primary);
  color: white;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.a-cv-item:hover {
  opacity: 0.9;
}

@media (max-width: 20em) {
  .a {
    display: block;
    text-align: center;
  }
  .blob {
    display: none;
  }
  .a-sub {
    display: none;
  }
}

@media (min-width: 20.063em) and (max-width: 30em) {
  /* Styles for phones in landscape and small tablets */
}

@media (min-width: 30.063em) and (max-width: 48em) {
  /* Styles for tablets and large phones */
}

@media (min-width: 48.063em) and (max-width: 64em) {
  /* Styles for small screens and desktops */
}

@media (min-width: 64.063em) and (max-width: 75em) {
  /* Styles for big screens and large desktops */
}
