.p{
    width: 30%;
    height: 40vh;
    margin: 20px 10px;  
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px 10px 0px 0px;
    transition-delay: 5s;
    color: black;
} 

.p:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: white;
}

.p-text{
    color: black;
}

@media screen and (max-width: 480px){
    .p{
        width: 40%;
        height: 20vh;
    }
}