.p {
  width: 28%;
  height: 34vh;
  margin: 20px 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px 10px 0px 0px;
  /* transition-delay: 5s; */
  color: black;
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.p:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.p-icons {
  margin-top: 10px;
  display: flex;
  justify-content: right;
  width: 100%;
}

.icon {
  padding-right: 10px;
  font-size: 1.6rem;
  color: var(--violet-primary);
}

.p-text {
}

.p-title {
  color: black;
  text-align: left;
  margin-bottom: 10px;
}

.p-text__content {
  text-align: left;
  font-size: 15px;
  margin-bottom: 10px;
}

.p-tech {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-bottom: 5px;
  font-weight: 300;
}

@media (max-width: 20em) {
  .p {
    width: 20%;
    display: block;
  }
}

@media (min-width: 20.063em) and (max-width: 30em) {
  /* Styles for phones in landscape and small tablets */
}

@media (min-width: 30.063em) and (max-width: 48em) {
  /* Styles for tablets and large phones */
}

@media (min-width: 48.063em) and (max-width: 64em) {
  /* Styles for small screens and desktops */
}

@media (min-width: 64.063em) and (max-width: 75em) {
  /* Styles for big screens and large desktops */
}
