:root{
    --violet-primary: #647dee;
    --gradient: linear-gradient(90deg, #647dee, #7f53ac);
}

.t{
    width: 50px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #999;
    background-color: white;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.t-icon{
    width: 20px;
    height: 20px;
}

.t-button{
    width: 24.5px;
    height: 24.5px;
    border-radius: 50%;
    background: var(--violet-primary);
    position: absolute;
    cursor: pointer;
    left: 0;

}