@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
  }

:root{
    --violet-primary: #647dee;
    --gradient: linear-gradient(90deg, #647dee, #7f53ac);
}